<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subtitles</title>
</head>
<body>
    <h1>Available Subtitles</h1>
    <ul>
        {% for subtitle in subtitles %}
            <li>
                Video: {{ subtitle.video.vid_name }} <br>
                Language: {{ subtitle.language }} <br>
                <a href="{% url 'download_subtitle' subtitle.id %}">Download Subtitle</a>
            </li>
        {% empty %}
            <li>No subtitles available.</li>
        {% endfor %}
    </ul>
</body>
</html>